body {
  padding-top: 20px;
  padding-bottom 20px;
  background: #ABCF5D;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  margin: 0 auto;
  height: 300px;
}

h3 {
  margin-top: 10px;
}

.controller {
  float: left;
  width: 50px;
  height: 100%;
  position: relative;
}

.controller-buttons {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -20px;
  margin-top: -25px;
}

.text-area {
  float: left;
  margin: 10px;
  width: 45%;
  height: 100%;
}

.fb-like {
  float: left;
  padding-top: 15px;
}
